<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Home Page</title>
</head>

<body class="anime-posts">
    <header>
        <!-- Navigation -->
        <nav>
            <div>
                <a href="#">Logo</a>
                <a href="#">All</a>
                <a href="#">Manga</a>
                <a href="#">Anime</a>
                <a href="#">Light Novel</a>
                <!-- <a href="#">Your Posts</a> -->
            </div>

            <div>
                <form class="search-form">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="Search.." name="search" />
                </form>
            </div>

            <!-- Logged-in users -->
            <!-- <div class="user">
                    <a href="#">Create</a>
                    <a href="#">Logout</a>
                </div> -->

            <!-- Guest users -->
            <div class="guest">
                <a href="#">Login</a>
                <!-- <a href="#">Register</a> -->
            </div>
        </nav>
    </header>

    <main>
        <section class="posts">
            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                        laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                        molestiae accusantium nam soluta doloribus.</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                        laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                        molestiae accusantium nam soluta doloribus.</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                        laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                        molestiae accusantium nam soluta doloribus.</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                        laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                        molestiae accusantium nam soluta doloribus.</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Brief explanation hydgtgh</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                        gthjkiswoeuy</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                        gthjkiswoeuy</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                        gthjkiswoeuy</p>
                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="">
                </div>
                <div class="post-info">
                    <h1>Title</h1>
                    <p class="author">Author</p>
                    <p class="subject">Subject</p>
                </div>
                <div class="explanation">
                    <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                        gthjkiswoeuy</p>
                </div>
            </div>

            <!-- <div class="no-posts">
                <p>There aren't any posts found!</p>
            </div> -->
        </section>
    </main>

    <footer>
        <div class="social-media">
            <button><i class="fa-brands fa-facebook"></i></button>
            <button><i class="fa-brands fa-instagram"></i></button>
            <button><i class="fa-brands fa-x-twitter"></i></button>
            <button><i class="fa-brands fa-youtube"></i></button>
            <button><i class="fa-brands fa-discord"></i></button>
        </div>
        <div class="other-pages">
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Contacts</a>
            <a href="">FAQ</a>
        </div>
        <div class="copyright">
            <p>Copyright &copy;2024 Site name</p>
        </div>
    </footer>
</body>

</html>