<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Home Page</title>
</head>

<body>
    <header>
        <!-- Navigation -->
        <nav>
            <div>
                <a href="#">Logo</a>
                <a href="#">All</a>
                <a href="#">Manga</a>
                <a href="#">Anime</a>
                <a href="#">Light Novel</a>
                <!-- <a href="#">Your Posts</a> -->
            </div>

            <div>
                <form class="search-form">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="Search.." name="search" />
                </form>
            </div>

            <!-- Logged-in users -->
            <!-- <div class="user">
                    <a href="#">Create</a>
                    <a href="#">Logout</a>
                </div> -->

            <!-- Guest users -->
            <div class="guest">
                <a href="#">Login</a>
                <!-- <a href="#">Register</a> -->
            </div>
        </nav>
    </header>

    <main>
        <section class="details">
            <div class="post-header">
                <h1>Title</h1>
                <div class="details-img">
                    <img src="">
                </div>
                <p class="details-author">Author Name</p>
                <p class="date">15 October 2003</p>
            </div>
            <div class="detail-explanation">
                <p style="white-space: pre-line">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim
                    vero dolores animi
                    laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                    molestiae accusantium nam soluta doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium impedit possimus omnis voluptatum aliquam beatae natus maiores iste
                    autem, fugit veniam magnam recusandae nulla ad soluta sed. Voluptate,
                    voluptatum sit! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Aut voluptas assumenda eum maiores at nobis vel obcaecati sequi sed unde officia soluta, quas est,
                    odit perspiciatis dolor reiciendis totam vitae.

                    NDJSKLMCSK DJUNS DJSD JDFSDN

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste facere
                    fugit ab eius beatae tempora obcaecati nemo consequatur quod. Dolorum,
                    maxime!
                    Ut nostrum amet ipsa ipsum reiciendis necessitatibus harum earum?

                    JHNNK KJNJK JHBK

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Perspiciatis praesentium, pariatur quod rem animi similique corrupti?
                    Culpa quis deleniti consectetur, laudantium aspernatur nemo dolorum. Nihil,
                    commodi? Minima ipsa iusto odio exercitationem voluptatibus delectus saepe
                    aliquid eveniet nihil tempore totam vero,
                    quia natus quam reiciendis illum harum libero dicta corrupti minus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Labore odit debitis deserunt earum cum reprehenderit iure,
                    veritatis nihil quisquam magnam atque provident, explicabo sit architecto
                    voluptatibus expedita voluptatum modi perferendis ducimus nesciunt.
                    Repudiandae aliquam quod, fuga at nobis pariatur quas blanditiis est corporis
                    quasi, magni ullam omnis officia? Modi officia doloremque, perferendis quod
                    ratione veniam quidem, nemo, alias at porro ipsum accusamus vero explicabo
                    minima eum quasi quia nam. Non libero officiis, laudantium deserunt itaque hic,
                    harum quo deleniti nemo eaque saepe amet blanditiis!
                    Eum minus a, nulla mollitia iusto ipsa impedit asperiores
                    consequuntur animi deleniti quidem saepe! Perferendis, cupiditate.
                </p>
            </div>
        </section>
        <section class="comments">

        </section>
    </main>

    <footer>
        <div class="social-media">
            <button><i class="fa-brands fa-facebook"></i></button>
            <button><i class="fa-brands fa-instagram"></i></button>
            <button><i class="fa-brands fa-x-twitter"></i></button>
            <button><i class="fa-brands fa-youtube"></i></button>
            <button><i class="fa-brands fa-discord"></i></button>
        </div>
        <div class="other-pages">
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Contacts</a>
            <a href="">FAQ</a>
        </div>
        <div class="copyright">
            <p>Copyright &copy;2024 Site name</p>
        </div>
    </footer>
</body>

</html>