<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Home Page</title>
</head>

<body>
    <header>
        <!-- Navigation -->
        <nav>
            <div>
                <a href="#">Logo</a>
                <a href="#">All</a>
                <a href="#">Manga</a>
                <a href="#">Anime</a>
                <a href="#">Light Novel</a>
                <!-- <a href="#">Your Posts</a> -->
            </div>

            <div>
                <form class="search-form">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="Search.." name="search" />
                </form>
            </div>

            <!-- Logged-in users -->
            <!-- <div class="user">
                    <a href="#">Create</a>
                    <a href="#">Logout</a>
                </div> -->

            <!-- Guest users -->
            <div class="guest">
                <a href="#">Login</a>
                <!-- <a href="#">Register</a> -->
            </div>
        </nav>
    </header>

    <main class="static-container">
        <div class="about">
            <h2>About Us</h2>
            <div class="about-details">
                <p>Welcome to [Site Name], the ultimate destination for anime, manga and light novel enthusiasts. Our
                    blog is not just about sharing our love for anime, manga and light novels but also about building a
                    vibrant community where every fan has a voice.</p>

                <p class="different-text">Our Mission</p>
                <p>At [Site Name], we're passionate about connecting anime, manga and light novel lovers from all
                    corners of the globe. Our mission is to create a space where fans can come together to share their
                    experiences, discuss their favorite series, discover hidden gems, and celebrate the rich diversity
                    of anime, manga and light novel culture.</p>

                <p class="different-text">What We Offer</p>
                <p>Community Discussions: Engage in lively discussions and debates with fellow anime fans on a wide
                    range of topics.</p>

                <p>User-Generated Content: We believe in the power of community-driven content. That's why we provide a
                    platform for users to share their own articles, reviews, fan theories, and more!</p>

                <p class="different-text">Join Our Community</p>
                <p>[Site Name] thrives on the passion and creativity of our community members. Whether you're a seasoned
                    fan or just dipping your toes into the world of anime, manga and light novels, there's a place for
                    you here. Join us on our journey to explore, learn, and celebrate the art of Japanese imagination!
                </p>

                <p class="different-text">Meet the Team</p>
                <p>Our team consists of dedicated anime aficionados who are committed to bringing you the best content
                    and fostering a welcoming community. Get to know the faces behind [Site Name] and feel free to reach
                    out to us with any questions, suggestions, or feedback!</p>

                <p class="different-text">Contact Us</p>
                <p>Have questions, feedback, or suggestions? We'd love to hear from you! Drop us a message through our
                    email or phone, and we'll get back to you as soon as possible.

                <p>Thank you for being a part of the [Site Name] community. Together, let's embark on an unforgettable
                    journey!</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="social-media">
            <button><i class="fa-brands fa-facebook"></i></button>
            <button><i class="fa-brands fa-instagram"></i></button>
            <button><i class="fa-brands fa-x-twitter"></i></button>
            <button><i class="fa-brands fa-youtube"></i></button>
            <button><i class="fa-brands fa-discord"></i></button>
        </div>
        <div class="other-pages">
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Contacts</a>
        </div>
        <div class="copyright">
            <p>Copyright &copy;2024 Site name</p>
        </div>
    </footer>
</body>

</html>