header {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: transparent;
}

nav {
  height: 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}

nav a {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 10px;
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: rgb(130, 129, 129);
}

