<main class="create-conteiner">
    <div class="create">
        <h2>Post</h2>
        <input type="text" name="title" id="title" placeholder="Title">
        <textarea placeholder="Text" name="text" id="text"></textarea>
        <button type="submit">Post</button>
    </div>
</main>