<main class="static-container">
    <div class="contact">
        <h2>Contact Us</h2>
        <div class="set-apart">
            <p><i class="fa-regular fa-envelope"></i> support@sitename.com</p>
            <p><i class="fa-solid fa-phone"></i> +359 89*******</p>
            <p><i class="fa-solid fa-location-dot"></i> 123 Anywhere, Any City</p>
        </div>
    </div>
</main>