<main class="all-posts">
    <section class="posts">
        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                    laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                    molestiae accusantium nam soluta doloribus.</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                    laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                    molestiae accusantium nam soluta doloribus.</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                    laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                    molestiae accusantium nam soluta doloribus.</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, enim vero dolores animi
                    laudantium, corporis possimus eum, voluptatum corrupti earum modi cum. Magnam sequi nostrum
                    molestiae accusantium nam soluta doloribus.</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Brief explanation hydgtgh</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                    gthjkiswoeuy</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                    gthjkiswoeuy</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                    gthjkiswoeuy</p>
            </div>
        </div>

        <div class="post">
            <div class="post-img">
                <img src="">
            </div>
            <div class="post-info">
                <h1>Title</h1>
                <p class="author">Author</p>
                <p class="subject">Subject</p>
            </div>
            <div class="explanation">
                <p>Brief explanation hydgtghwji dosu8yhjwi sadou8yghj kisaoduytgh jawsidu 8yfgwhjiuy
                    gthjkiswoeuy</p>
            </div>
        </div>

        <!-- <div class="no-posts">
                <p>There aren't any posts found!</p>
            </div> -->
    </section>
</main>