<main class="page-not-found">
    <!-- Login Page (Only for Guest users) -->
    <section id="page-not-found">
        <p>404</p>
        <p class="text">Looks like you've lost your way.</p>
        <a href="/">Return Home</a>
    </section>
</main>